@import "./resets";
@import "./variables";

body {
  background-image: url(/images/bg-intro-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $clr-primary-1;
  font-family: $ff-accent;
  @include text-base;
  @include flexCenter;
  color: $clr-neutral-4;
  min-height: 100vh;
  text-align: center;
}
.wrapper {
  padding: 1.25em;
  h2 {
    color: $clr-neutral-1;
    font-size: 1.75rem;
    line-height: 1.25;
    padding-bottom: 1em;
  }

  .hero__paragraph {
    padding-bottom: 3em;
  }

  .registration {
    & .registration__button-1 {
      background-color: $clr-secondary-1;
      border-radius: 0.75em;
      border: none;
      box-shadow: 0 6px 0px hsla(0, 0%, 0%, 0.1);
      color: $clr-neutral-4;
      padding: 1.25em 3em;
      width: 100%;
      margin-bottom: 1.25em;

      & span {
        color: $clr-neutral-3;
      }
    }
    & .form-container {
      @include flexCenter;
      background-color: $clr-neutral-1;
      border-radius: 0.75em;
      box-shadow: 0 10px 0px hsla(0, 0%, 0%, 0.1);
      padding: 1.5em;
      & .form-control {
        text-align: right;
        width: 100%;
        position: relative;
        padding-bottom: 0.5em;
        & label {
          color: $clr-primary-1;
          display: none;
        }
        & input {
          border-radius: 0.25em;
          border: none;
          padding: 0.75em;
          outline: 1px solid $clr-neutral-6;
          width: 100%;

          &:invalid {
            &::placeholder {
              color: $clr-primary-1;
            }
          }
        }
        &.success input {
          outline: 1px solid $clr-primary-2;
        }
        &.error input {
          outline: 1px solid $clr-primary-1;
        }
        &.success i.icon-error {
          visibility: hidden;
        }
        &.error i.icon-error {
          visibility: visible;
        }
        & i {
          position: absolute;
          top: 15px;
          right: 20px;
          visibility: hidden;
        }
        & small {
          font-size: 0.875rem;
          visibility: hidden;
        }
        &.success small {
          visibility: hidden;
        }
        &.error small {
          color: $clr-primary-1;
          visibility: visible;
          font-style: italic;
        }
      }

      & .form__Button {
        border: none;
        border-radius: 0.5em;
        background-color: $clr-primary-2;
        box-shadow: 0 4px 0px hsl(153, 59%, 46%);
        color: $clr-neutral-1;
        padding: 0.85em;
        margin: 0.5em 0em;
        width: 100%;
      }
      & .form__paragraph {
        color: $clr-neutral-3;
        font-size: 0.6875rem;

        & a {
          color: $clr-primary-1;
          font-weight: $fw-700;
          text-decoration: none;
        }
      }
    }
  }
}
@media screen and (min-width: 48em) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
  }
  button {
    cursor: pointer;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80em;
    padding: 2em 3.5em;
    & .hero {
      flex: 1 0;
      padding: 1.5em;

      & h2 {
        font-size: 3.25rem;
      }
    }
    & .registration {
      flex: 1 0;
      @include text-lg;
      padding: 1.5em;
    }
  }
}
